@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;

  color-scheme: light dark;
  color: #fff;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;  /*1 rem = 14px*/

  --background-color : #121212;
  --card-color: #25292e;
  --border-color : linear-gradient(90deg,#3b6bff,#2e96ff 65%,#acb7ff); 
  --navigation-background-color: #202124;
}

/* base */
/* utility */
/* components */

/* write base classes over here */
@layer base{
  h1{@apply text-4xl font-normal}
  h3{@apply text-3xl font-normal}
  h4{@apply text-2xl font-normal text-gray-300}
}





/* write utility classes over here */
@layer utility {
  .headerbackground-color{
    background-color: var(--navigation-background-color);
  }
  /* wr are putting extra div in background and making it appear as background */
  .bordergradient{
    background: var(--border-color);
    transition: 1s ease-in;
  }
  .navigationButton{
    @apply w-34 flex items-center justify-center h-full rounded-3xl;
    background-color: transparent;
    transition: 1s ease-in;
  }
  .introdivText{
    font-size: 100px;
  }

  /* this below design will be removed in next update it's just for now */
  .featureCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
  }


}


.featurecontainer:hover{
  background:var(--border-color);
  transition: 1s all;
}


/* write component calsses over here */
@layer components{


}


/* design for small device applied till 640px */
@media screen and (min-width:640px) {
  /* body{
    background-color: red;
  } */

}

/* design for midum device uptill 768px  */
@media (min-width:768px){
  /* body{
    background-color: green;
  } */

}

/* design for large desktops  anything above 768px is a large device*/
@media (min-width:1280px){
  /* body{
    background-color: yellow;
  } */
}